/* CONFIG FOR MAIN AESTHETIC ELEMENTS */

:root {
    --background-transition-speed: 1s;

    /* HEADER STYLES */
    --header-font-family: "satoshi", serif;
    --header-font-size: 56px;
    --header-font-weight: 100;
    
}

[data-theme="light"] {
    --bg-color: #ffffff;
    --primary-color: #000000;
}

[data-theme="dark"] {
    --bg-color: #7a7a7a;
}

[data-theme="high-contrast"] {
    --bg-color: #000000;
}
